//SERVER
PORT = 5000
NODE_ENV = devlopement

//MYSQL
DB_HOST = localhost
DB_USER = root
DB_PASSWORD =
    DB_NAME = starter_kit

//JTW
JTW_secret = votre_super_jwt_a_changer_absolument
JTW_EXPIRES_IN = 7
